@media only screen and (min-width: 1200px) .ui.container {
    width: 1127px; 
    margin-left: auto; 
    margin-right: auto;
}

.ui.menu .ui.button {
    margin-left: 0.5em;
}

.main-header {
    margin-top: 0 !important;
    background-color: #000000 !important;
    z-index: 1;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-height: 700px;
    padding: 1em 0em;
}

.main-header, .main-header:after {
    -ms-transition: background 1s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition: background 1s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition: background 1s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition: background 1s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 5s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
}

.main-header:after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.35;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.zoomed.main-header:after {
    opacity: 0;
}

.zoomed.main-header {
    background-color: #25282A;
}

.main-header .logo.item img {
    margin-right: 1em;
}
.main-header .ui.menu .ui.button {
    margin-left: 0.5em;
}
.main-header h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.main-header h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
    display: none;
    }
    .main-header.segment {
    min-height: 350px;
    }
    .main-header h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
    }
    .main-header h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    }
}

.ui.grid>.column+.divider, .ui.grid>.row>.column+.divider {
    left: auto;
}

/* Small */

.ui.tiny.modal > .header:not(.ui) {
  font-size: 1.3em;
}

/* Small Modal Width */

@media only screen and (max-width: 429px) {
  .ui.tiny.modal {
    width: 97%;
    margin: 0em 0em 0em -48.5%;
  }
}

@media only screen and (min-width: 430px) {
  .ui.tiny.modal {
    width: 320px;
    margin: 0em 0em 0em -158px;
  }
}

@media only screen and (min-width: 630px) {
  .ui.tiny.modal {
    width: 320px;
    margin: 0em 0em 0em -140px;
  }
}

.item.active {
    background-color:aliceblue;
    opacity:0.9;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}