@{
    ViewBag.Title = "Заборавена лозинка";
}
<div class="ui container">
    <h2 class="ui dividing header">@ViewBag.Title.</h2>
    <div class="ui segment">
        Проверете го вашиот емаил за инструкции за ресетирање на вашата лозинка.
    </div>

</div>