@{
    ViewBag.Title = "Потврда за ресетирање на лозинка";
}
<div class="ui container">
    <h2 class="ui dividing header">@ViewBag.Title.</h2>
    <div class="ui segment">
        Вашиата лозинка беше ресетирана. @Html.ActionLink("Кликнете тука за најава.", "Index", "Home", routeValues: new { id = 1 }, htmlAttributes: new { id = "loginLink" })
    </div>
</div>