<div class="ui container">
    @using (Html.BeginForm("CreateRide", "Rides", FormMethod.Get))
    {
        <div class="ui two column divided grid">
            <div class="ten wide column">
                <div class="ui large header">Enter Ride Details</div>

                <div class="ui dividing medium header">Destination and Origin</div>
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui icon input">
                                <input required type="text" id="searchbox-from" placeholder="From">
                                <input type="hidden" name="StartPoint.Latitude" />
                                <input type="hidden" name="StartPoint.Longitude" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui icon input">
                                <input required type="text" id="searchbox-to" placeholder="To">
                                <input type="hidden" name="EndPoint.Latitude" />
                                <input type="hidden" name="EndPoint.Longitude" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui dividing medium header">Waypoints</div>
                <div class="ui form waypoints">
                    <div class="field">
                        <div class="ui icon input">
                            <input type="text" class="waypoint" placeholder="Add a Waypoint">
                            <input type="hidden" name="Waypoints[0].Latitude" />
                            <input type="hidden" name="Waypoints[0].Longitude" />
                        </div>
                    </div>
                    <div class="ui basic button" id="btnAddMoreWaypoints"><i class="plus icon"></i> Add More</div>
                </div>

                <div class="ui dividing medium header">Date and Time</div>
                <div class="ui form">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <label>Return ride?</label>
                            <input type="checkbox" id="return" tabindex="0" class="hidden" checked>
                        </div>
                        <input type="hidden" name="returnR" id="returnRide" value="true">
                    </div>

                    <div class="ui header tiny">Departure Date:</div>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="field">
                                <div class="ui icon input">
                                    <input required type="date" id="date-origin" placeholder="" name="DepartureDate">
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="two fields">
                                <div class="field">
                                    <select required class="ui fluid search dropdown hour" name="TimeDeparture.hour">
                                        <option value="">Hour</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select required class="ui fluid search dropdown minutes" name="TimeDeparture.minutes">
                                        <option value="">Minutes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui header tiny return-date-header">Return Date:</div>
                    <div class="ui grid return-date">
                        <div class="eight wide column">
                            <div class="field">
                                <div class="ui icon input">
                                    <input required type="date" id="date-destination" name="ReturnDepartureDate" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="two fields">
                                <div class="field">
                                    <select required class="ui fluid search dropdown hour" id="hour-destination" name="ReturnTimeDeparture.Hour">
                                        <option value="">Hour</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select required class="ui fluid search dropdown minutes" id="minute-destination" name="ReturnTimeDeparture.Minutes">
                                        <option value="">Minutes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" name="Description">
                <input type="text" name="Length">
                <input type="text" name="SeatsLeft">
                <input type="text" name="PricePerPassenger">
                <input type="text" name="detour">
                <!-- Commented out, for future
                <div class="ui dividing medium header">Frequency</div>
                <div class="ui form">
                    <div class="inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency" checked="" tabindex="0" class="hidden">
                                <label>One-off ride</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="frequency" tabindex="0" class="hidden">
                                <label>Repeat ride</label>
                            </div>
                        </div>
                    </div>
                </div>-->

                <input type="submit" id="submitCreateRide" hidden />
                <button class="ui huge positive right floated button" type="submit" id="btnSubmitRide">Submit</button>
            </div>
            <div class="six wide column">
                <div id="map" style="height:450px;width:450px;"></div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/mapsDirections.js"></script>
<script src="~/Scripts/rides.create.js"></script>