@{ 
    ViewBag.Title = "Понуди превоз";
}
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />

<div class="ui container">
    @using (Html.BeginForm("CreateRide", "Rides", FormMethod.Get, new { @class = "ui form createrideform" }))
    {
        <div class="ui two column divided stackable grid">
            <div class="ten wide column">
                <div class="ui large header">Внесете детали за патувањето</div>

                <div class="ui dividing medium header">Дестинација и место на поаѓање</div>
                <div class="">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui icon input">
                                <input type="text" id="searchbox-from" placeholder="Од" name="Origin">
                                <input type="hidden" name="StartPoint.Latitude" />
                                <input type="hidden" name="StartPoint.Longitude" />
                                <input type="hidden" name="StartPoint.Name" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui icon input">
                                <input type="text" id="searchbox-to" placeholder="До" name="Destination">
                                <input type="hidden" name="EndPoint.Latitude" />
                                <input type="hidden" name="EndPoint.Longitude" />
                                <input type="hidden" name="EndPoint.Name" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui dividing medium header">Попатни места</div>
                <div id="waypoints">
                    <div class="field">
                        <div class="ui icon input">
                            <input type="text" class="waypoint" placeholder="Додај попатно место">
                            <input type="hidden" name="Waypoints[0].Latitude" />
                            <input type="hidden" name="Waypoints[0].Longitude" />
                            <input type="hidden" name="Waypoints[0].Name" />
                        </div>
                    </div>
                    <div class="ui basic button" id="btnAddMoreWaypoints"><i class="plus icon"></i> Додај уште</div>
                </div>

                <div class="ui dividing medium header">Датум и време</div>
                <div class="">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <label>Повратен превоз?</label>
                            <input type="checkbox" id="return" tabindex="0" class="hidden">
                        </div>
                        <input type="hidden" name="returnR" id="returnRide" value="false">
                    </div>

                    <div class="ui header tiny">Датум на поаѓање:</div>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="field">
                                <div class="ui calendar" id="departureCalendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="" style="max-width:90%">
                                    </div>
                                </div>
                                <input type="hidden" id="date-origin" placeholder="" name="DepartureDate">
                                @*<div class="ui icon input">
                                <input type="date" id="date-origin" placeholder="" name="DepartureDate">
                            </div>*@
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="two fields">
                                <div class="field">
                                    <select class="ui fluid search dropdown hour" name="TimeDeparture.hour">
                                        <option value="">Час</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="ui fluid search dropdown minutes" name="TimeDeparture.minutes">
                                        <option value="">Минути</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui header tiny return-date-header" style="display:none;">Датум на враќање:</div>
                    <div class="ui grid return-date" style="display:none;">
                        <div class="eight wide column">
                            <div class="field">
                                <div class="ui calendar" id="returnCalendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="" style="max-width:90%" id="date-destination">
                                    </div>
                                </div>
                                <input type="hidden" name="ReturnDepartureDate" placeholder="">
                                @*<div class="ui icon input">
                                <input type="date" id="date-destination" name="ReturnDepartureDate" placeholder="">
                            </div>*@
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="two fields">
                                <div class="field">
                                    <select class="ui fluid search dropdown hour" id="hour-destination" name="ReturnTimeDeparture.Hour">
                                        <option value="">Час</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <select class="ui fluid search dropdown minutes" id="minute-destination" name="ReturnTimeDeparture.Minutes">
                                        <option value="">Минути</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui dividing medium header">Дополнителни информации</div>
                <div class="">
                    <div class="fields">
                        <div class="eight wide field">
                            <label for="Description">Опис</label>
                            <input type="text" name="Description" placeholder="">
                        </div>
                        @*<div class="field">
                            <label for="Length">Distance</label>
                            <input type="text" name="Length">
                        </div>*@
                        <div class="four wide field">
                            <label for="SeatsLeft">Слободни места</label>
                            <input type="number" name="SeatsLeft" value="3" max="15" min="1">
                        </div>
                        <div class="four wide field">
                            <label for="PricePerPassenger">Цена по патник во ден.</label>
                            <input type="text" name="PricePerPassenger">
                        </div>
                        @*<div class="field">
                            <label for="detour">Detour</label>
                            <input type="text" name="detour">
                        </div>*@
                    </div>
                </div>

                <!-- Commented out, for future
        <div class="ui dividing medium header">Frequency</div>
        <div class="ui form">
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency" checked="" tabindex="0" class="hidden">
                        <label>One-off ride</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency" tabindex="0" class="hidden">
                        <label>Repeat ride</label>
                    </div>
                </div>
            </div>
        </div>-->
                @Html.ValidationSummary(true, "", new { @class = "ui error message", @style = "display:block;" })
                <div class="ui divider"></div>
                @*<input type="submit" id="submitCreateRide" hidden />*@
                <div class="field">
                    <button class="ui huge positive right floated button" type="submit" id="btnSubmitRide">Испрати</button>
                </div>
            </div>
            <div class="six wide column">
                <div id="map" style="height:450px;width:450px;"></div>
                <div class="row">
                    <div class="ui horizontal divider" id="route-info"></div>
                    <div class="ui left floated statistic">
                        <div class="value" id="distance-val">

                        </div>
                        <div class="label" id="distance-text">

                        </div>
                    </div>
                    <div class="ui right floated  statistic">
                        <div class="value" id="duration-mins-val">

                        </div>
                        <div class="label" id="duration-mins-text">
                            
                        </div>
                    </div>
                    <div class="ui right floated statistic">
                        <div class="value" id="duration-hour-val">

                        </div>
                        <div class="label" id="duration-hour-text">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/mapsDirections.js"></script>
<script src="~/Scripts/rides.create.js"></script>