
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#content',
            height: 500,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: [
              '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Email", "Admin", FormMethod.Post, new { role = "form" }))
    {
        <textarea id="content" name="content">Dummy Text</textarea>
        <br />
        <textarea id="subject" name="subject"></textarea>
        <button type="submit" value="Send to all" class="ui button primary" id="sendToAll">Прати до сите</button>
    }
</body>
</html>
