@using Transpo.WebApp.Models
@model SearchResultModel
@{
    ViewBag.Title = "Index";
}
<div class="ui container">
    <div class="ui segment">
        @{ Html.RenderPartial("_SearchBar", Model as SearchModel); }
    </div>

    <div class="ui segment" id="rideSearchGrid">
        @{ Html.RenderPartial("_SearchResultsGrid", Model.Rides); }


        @*<div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical segment">
                    <div class="ui checkbox">
                        <input type="checkbox" name="chkHideFull" />
                        <label>Hide full rides</label>
                    </div>

                    <h4 class="ui horizontal divider header">
                        Date
                    </h4>
                    <div class="ui calendar" id="calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Date" id="dtDate" style="max-width:90%">
                        </div>
                    </div>

                    <h4 class="ui horizontal divider header">
                        Cost
                    </h4>
                    <div class="ui form">
                        <div class="inline field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" class="hidden" checked>
                                <label>Average Cost</label>
                            </div>
                            <label></label>
                        </div>
                        <div class="inline field">
                            <div class="ui slider checkbox">
                                <input type="checkbox"  class="hidden" checked>
                                <label>Higher Cost</label>
                            </div>
                            <label></label>
                        </div>
                    </div>

                    <h4 class="ui horizontal divider header">
                        Photo
                    </h4>
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="photo" class="hidden">
                                    <label>All</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="photo" class="hidden">
                                    <label>Only With Photo</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="ui horizontal divider header">
                        Vehicle comfort
                    </h4>
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="vehicle" class="hidden">
                                    <label>Luxurious</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="vehicle" class="hidden">
                                    <label>Comfortable +</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="vehicle" class="hidden">
                                    <label>Normal +</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="vehicle" class="hidden">
                                    <label>All +</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui vertical segment" id="rideSearchGrid">
                    @{ Html.RenderPartial("_SearchResultsGrid", Model.Rides); }
                </div>
            </div>
        </div>*@
    </div>
</div>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script src="~/Scripts/search.index.js"></script>
<script>
    $('.ui.checkbox').checkbox();
</script>