<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>2818-13305.el-alt.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wdeploy.everleap.com</MSDeployServiceURL>
    <DeployIisAppPath>2818-13305</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>2818-13305\002818</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s02.everleap.com;Initial Catalog=DB_2818_transpo;Integrated Security=False;User ID=DB_2818_transpo_user;Password=Tstoj94bs" Name="Data Source=tcp:s02.everleap.com;Initial Catalog=DB_2818_transpo;User ID=DB_2818_transpo_user;Password=Tstoj94bs;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Transpo.Infrastructure.Data.TranspoDbContext, Transpo.Infrastructure.Data" MigrationConfiguration="Transpo.Infrastructure.Data.Migrations.Configuration, Transpo.Infrastructure.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s02.everleap.com;Initial Catalog=DB_2818_transpo;User ID=DB_2818_transpo_user;Password=Tstoj94bs;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>