@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/components/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
</head>
<body>

    <div class="ui inverted vertical main-header center aligned segment">
        <div class="ui large secondary inverted pointing menu">
            <div class="ui container">
                @{ Html.RenderPartial("_MenuContent"); }
            </div>
        </div>
        
        <div class="ui text container">
            <h1 class="ui inverted header">
                Transpo
            </h1>
            <h2>Find you ride.</h2>
            <div class="ui form">
                <div class="two fields">
                    <div class="field">
                        <div class="ui big icon input">
                            <input type="text" id="searchbox-from" placeholder="From">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui big icon input">
                            <input type="text" id="searchbox-to" placeholder="To">
                        </div>
                    </div>
                </div>
                <div class="ui massive primary button">Go<i class="right arrow icon"></i></div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We Help Companies and Companions</h3>
                    <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                    <h3 class="ui header">We Make Bananas That Can Dance</h3>
                    <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge button">Check Them Out</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/semantic.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places'></script>
    <script src="~/Scripts/places-searchbox.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script>
        debugger;
        initMapsSearch();
    </script>
</body>
</html>

