@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "item home" })
@Html.ActionLink("Search", "Index", "Search", new { area = "" }, new { @class = "item search" })
@Html.ActionLink("Create Ride", "Create", "Rides", new { area = "" }, new { @class = "item create" })
<div class="right item">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <span>@Html.ActionLink("Hi " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</span>
            <a onclick="Logout()" class="ui inverted button">Log off</a>
        }
    }
    else
    {
        <a class="ui inverted button" id="login">Login</a>

    }
</div>