@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "item home" })
@Html.ActionLink("Search", "Index", "Search", new { area = "" }, new { @class = "item search" })
@Html.ActionLink("Create Ride", "Create", "Rides", new { area = "" }, new { @class = "item create" })
<div class="right item">
    <a class="ui inverted button">Sign Up</a>
    <a class="ui inverted button">Login</a>
</div>