@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "item home" })
@Html.ActionLink("Create Ride", "Create", "Rides", new { area = "" }, new { @class = "item create" })
<div class="right item">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <span>@Html.ActionLink("Hi " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</span>
            <input type="submit" class="ui inverted button" value="Log Off" />
        }
    }
    else
    {
        <a class="ui inverted button" id="login" href="@Url.Action("Login", "Account", new { returnUrl = "Home/IndexAfterLogin" })">Login</a>

    }
</div>