@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "item active" })
@Html.ActionLink("Second name", "Index", "Home", new { area = "" }, new { @class = "item" })
<div class="right item">
    <a class="ui inverted button">Sign Up</a>
    <a class="ui inverted button">Login</a>
</div>